<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headFragment 선언-->
<div th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="jwt-token" th:content="${session.jwtToken}" />
    <meta name="refresh-token" th:content="${session.refreshToken}" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${title}">블로그</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="/css/styles.css" rel="stylesheet" />
</div>
</html>
