<!-- sidebar.html -->
<div th:fragment="sidebarFragment">
    <div class="d-flex flex-column p-3 bg-light" style="width: 280px;">
        <div class="text-center">
            <!--<img th:src="${user.profileImage != null ? user.profileImage : '/assets/default-profile.jpg'}" alt="프로필 이미지" class="rounded-circle mb-3" width="100" height="100">
        -->
            <h2>name</h2>
            <p class="text-muted">description.</p>
        </div>
        <form class="d-flex mt-3" style="max-width: 300px;">
            <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
        </form>
        <hr>
        <!-- 관리자만 접근 가능한 링크 -->
        <a th:href="@{/article/write}" class="list-group-item list-group-item-action list-group-item-light p-3"
           sec:authorize="hasRole('ADMIN')">
            NEW ARTICLE
        </a>
        <a th:href="@{/category}" class="list-group-item list-group-item-action list-group-item-light p-3"
           sec:authorize="hasRole('ADMIN')">
            CATEGORY
        </a>
        <!-- 전체 글 보기 -->
        <a th:href="@{/article/list}" class="list-group-item list-group-item-action list-group-item-light p-3 mb-2 text-dark">
            전체 글 보기
        </a>
        <!-- 카테고리 목록 -->
        <ul class="nav nav-pills flex-column mb-auto">
            <li th:each="category : ${categories}" th:if="${category.parentId == null}">
                <!-- 상위 카테고리 -->
                <a th:href="@{/article/list/category(categoryTitle=${category.title})}" class="nav-link text-dark">
                    <span class="category fs-5" th:text="${category.title}"></span>
                </a>

                <!-- 하위 카테고리 목록 -->
                <ul class="ms-3 list-unstyled fw-normal pb-1 small">
                    <li th:each="subCategory : ${category.childCategories}">
                        <a th:href="@{/article/list/category(categoryTitle=${subCategory.title})}" class="link-dark rounded" th:text="${subCategory.title}"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    </div>
</div>
