<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default_layout}" lang="ko">

<!-- Content -->
<div layout:fragment="content">
  <h1 th:text="${categoryTitle} + '에 대한 게시글 목록'"></h1>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">제목</th>
      <th scope="col">작성자 이메일</th>
      <th scope="col">작성일</th>
      <th scope="col">작업</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
      <td th:text="${article.title}">제목</td>
      <td th:text="${article.email}">작성자 이메일</td>
      <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd')}">작성일</td>
      <td>
        <a th:href="@{/article/view(articleId=${article.id})}" class="btn btn-primary">상세 보기</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</html>
