<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head th:replace="~{layout/head :: head}">
  <title>메인 페이지</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

<div class="layout-container">
  <!-- 사이드바 -->
  <header th:replace="~{layout/sidebar :: sideBar}" class="sidebar"></header>

  <!-- 메인 컨텐츠 -->
  <section class="content">
    <div class="container mt-5 text-center">
      <h1>안녕하세요</h1>
    </div>
  </section>
</div>

<footer th:replace="~{layout/footer :: footer}"></footer>

</body>
</html>