<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default_layout}" lang="ko">

<head>
  <title>로그인 페이지</title>
</head>

<body>
  <div layout:fragment="content">
    <h1>로그인</h1>
    <form action="@{/member/login}" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <div class="mt-4">
      <a href="/oauth2/authorization/google" class="btn btn-danger">구글로 로그인</a>
      <a href="/oauth2/authorization/kakao" class="btn btn-warning">카카오로 로그인</a>
      <a href="/oauth2/authorization/naver" class="btn btn-success">네이버로 로그인</a>
    </div>
    <div class="mt-4">
      <a href="/member/signup">회원가입</a>
    </div>
  </div>
</body>

</html>
